* {
    font-family: "Berkshire Swash";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-container .login-container {
    box-shadow: 0 2px 6px 0 rgba(218, 218, 253, 0.65), 0 2px 6px 0 rgba(206, 206, 238, 0.54);
    margin-top: 2%;
    height: 88vh;
}
  
.content-part {
    background-color: #d2d7e6;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 50px;
    height: 88vh;
}
.userImg{
  height: 140px;
  border-radius: 25rem;
  margin: 0 90px;
}
.form-part {
    background-color: #FFF;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 50px;
    height: 88vh; /* Set the height to 100% of the viewport height */
}
  
.formcol {
    margin: auto;
}
  
.formcol h3 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.5rem;
}
  
.login {
    margin: auto;
    margin-top: 110px;
}
  
.form-floating .btn {
    width: 100%;
    margin-top: 19px;
}
    
.form-control:hover {
    border: 2px solid  #8252fa;
    box-shadow: none;
}
    
.form-control:active {
    border: 2px solid #0d6efd;
    box-shadow: none;
}

#eyepassword{
    margin-left: 17rem;
    position: absolute;
    margin-top: -2rem;
}

  